[submodule "themes/cayman-hugo-theme"]
	path = themes/cayman-hugo-theme
	url = https://github.com/zwbetz-gh/cayman-hugo-theme.git
[submodule "themes/book"]
	path = themes/book
	url = https://github.com/alex-shpak/hugo-book
